.imageDiv{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
	background-image: url('../images/contact.jpg');
	height: 100%;
	float: none;
	display: table-cell;
}

.scream{
	font-size: 48px;
	font-family: 'Fjalla One';
}

.scream span{
	font-size:  72px;
	color:  #5d0917;
}

.contact-div{
	display: table;
}

.contact-div .text{
	font-family: 'Lato';
	font-size:  16px;
	padding-top: 60px;
	padding-bottom: 30px;
}